---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const projects = (await getCollection('projects')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body class="dark:bg-dark dark:text-light">
    <main>
      <section class="py-16 px-5 sm:px-28 lg:px-54 xl:px-72">
        <ul>
          {
            projects.map((project) => (
              <li>
                <a href={`/projects/${project.id}/`}>
                  {project.data.heroImage && (
                    <Image width={200} src={project.data.heroImage} alt={project.data.title} />
                  )}
                  <h4 class="title">{project.data.title}</h4>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </body>
</html>
